* {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-image: url('wm.png');
}

.wrapper {
  text-align: center;
  margin-top: 20px;
}

.wrapper > h1 {
  margin-bottom: 30px;
}

.wrapper > textarea {
  resize: none;
  width: calc(100% - 100px);
  height: 200px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: medium;
  outline: none;
}

.result-box {
  width: fit-content;
  padding: 20px 30px;
  margin: auto;
  border: 2px solid rgba(0,0,0,.1);
  border-radius: 8px;
  background: rgb(179, 255, 194);
}